<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mis.mapper.CustomerMapper">
	
	<insert id="insertCustomer">
		INSERT INTO customer (userid, name, birthyear, address, phone, grade)
		VALUES (#{userid}, #{name}, #{birthyear}, #{address}, #{phone}, #{grade})
	</insert>
	
	<select id="readCustomer" resultType="com.mis.domain.CustomerVO"> 
		SELECT *
		  FROM customer
		 WHERE userid = #{userid}
	</select>

	<update id="updateCustomer">
		UPDATE customer 
		   SET name 	 = #{name},
	           birthyear = #{birthyear},
	           address   = #{address},
	           phone     = #{phone},
	           grade     = #{grade},
	           moddate   = sysdate
		 WHERE userid    = #{userid}
	</update>

	<delete id="deleteCustomer">
		DELETE FROM customer
		WHERE userid = #{userid}
	</delete>

</mapper>